.Admit{
  position: fixed;
  background-color: white;
  margin-left: -18%;
  margin-top: -38%;
  width: 70vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  z-index: 999;
  justify-content: center;
  align-self: center;
}


.admit-container{
position: fixed;
flex-direction: column;
display: flex;
flex: 1;
padding: 10%;
width: 100%;
margin-top: 0%;
margin-left: 40%;
justify-content: center;
align-self: center;
}

.admit-name{
  margin-bottom: 40px;
}

.admit-lvl{
 margin-bottom: 40px;
 margin-left: 25px;
}

input[type='number']{
  width: 60px;
}

.admit-spieces{
  margin-left: -10px;
  width: 415px;
  margin-bottom: 40px;
}


.admit-status{
  margin-left:50px;
  margin-top: 7px;
  margin-bottom: 60px;
}

.admit-trainer{
  margin-bottom: 30px;
}

.admit-buttons{
  margin-left: 45px;
}




  
@media screen and (max-width: 810px) {

  .Admit{
      position: fixed;
      background-color: white;
      margin-left: -18%;
      margin-top: -38%;
      width: 70vw;
      height: 70vh;
      display: flex;
      flex-direction: column;
      z-index: 999;
      justify-content: center;
      align-self: center;
    }
  
  
  .admit-container{
    position: fixed;
    flex-direction: column;
    display: flex;
    flex: 1;
    padding: 10%;
    width: 100%;
    margin-top: 0%;
    margin-left: 40%;
    justify-content: center;
    align-self: center;
  }
  
    .admit-name{
      margin-bottom: 40px;
    }
  
    .admit-lvl{
     margin-bottom: 40px;
     margin-left: 25px;
    }
  
    input[type='number']{
      width: 60px;
    }
  
    .admit-spieces{
      margin-left: -10px;
      width: 415px;
      margin-bottom: 40px;
    }
  
  
    .admit-status{
      margin-left:50px;
      margin-top: 7px;
      margin-bottom: 60px;
    }
  
    .admit-trainer{
      margin-bottom: 30px;
    }
  
    .admit-buttons{
      margin-left: 45px;
    }
  
  }




@media screen and (max-width: 480px) {

.Admit{
    position: fixed;
    background-color: white;
    margin-left: -48%;
    margin-top: -48%;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    z-index: 999;
    justify-content: center;
    align-self: center;
  }


.admit-container{
  position: fixed;
  flex-direction: column;
  display: flex;
  flex: 1;
  padding: 10%;
  width: 100vw;
  margin-top: 0%;
  justify-content: center;
  align-self: center;
  margin-left: 10%;
}

  .admit-name{
    margin-bottom: 40px;
  }

  .admit-lvl{
   margin-bottom: 40px;
   margin-left: 25px;
  }

  input[type='number']{
    width: 60px;
  }

  .admit-spieces{
    margin-left: -10px;
    width: 415px;
    margin-bottom: 40px;
  }


  .admit-status{
    margin-left:50px;
    margin-top: 7px;
    margin-bottom: 60px;
  }

  .admit-trainer{
    margin-bottom: 30px;
  }

  .admit-buttons{
    margin-left: 45px;
  }

}
