@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  color: #111111;
}

body {
  background-color: #808080;
}

.container {
  max-width: 1440px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  height: 112px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #c16d6d;
  background: linear-gradient(45deg, #cc7777, #eb2f2f);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  border-width: thin;
  z-index: 1;
}

.header-container {
  display: flex;
  height: 50%;
}

.name-header {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-right: 5px;
  padding-left: 10px;
}

.lvl-header {
  width: 115px;
  height: 22px;
  left: 12px;
  top: 13px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.small-text-left {
  position: absolute;
  width: 281px;
  height: 74px;
  left: 12px;
  top: 43px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2px;
}

.small-text-main {
  position: absolute;
  width: 281px;
  height: 74px;
  left: 12px;
  top: 43px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 2px;
}

.small-text-right {
  position: absolute;
  width: 281px;
  height: 74px;
  left: 252px;
  top: 43px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2px;
}

.small-text-container {
  display: flex;
  justify-content: space-between;
}

.header-container {
  width: 100vw;
  display: flex;
}

.main-container {
  position: absolute;
  background-color: #808080;
  height: calc(100vh - 170px);
  width: 50vw;
  top: 22%;
  left: 35.4%;
  z-index: 1;
  overflow-y: auto;
  flex: 1;
  border-top: none;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.main-top-bar {
  background: linear-gradient(45deg, #cc7777, #eb2f2f);
  position: fixed;
  top: 18%;
  height: 60px;
  width: 50vw;
  border: 1px solid;
  z-index: 2;
  display: flex;
  left: 35.4%;
  justify-content: space-between;
}

.main-name {
  position: absolute;
  width: 30%;
  height: 25px;
  left: 55px;
  top: -10px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
}

.main-hp-text {
  position: absolute;
  width: 30%;
  height: 25px;
  left: 50%;
  top: -10px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
}

.main-status-text {
  position: absolute;
  width: 65px;
  height: 25px;
  left: 75%;
  top: -10px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
}

.pokemon-container {
  width: 50vw;
  margin-top: 0;
  background-color: #808080;
  flex: 1;
  height: 150vh;
  overflow-y: scroll;
}

.card-image {
  height: 115px;
  margin-top: 60px;
  margin-left: -4%;
  width: 150px;
  align-items: center;
  justify-content: center;
  padding-right: 0%;
}

.card-name {
  height: 115px;
  margin-top: -115px;
  margin-left: 10%;
  font-size: 0.78rem;
  font-family: "Lato";
  font-style: normal;
  width: 120px;
  z-index: 1;
}

.card-hp {
  margin-top: -119px;
  margin-left: 50%;
  font-family: "Lato";
  font-style: normal;
  width: 90px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.card-status {
  height: 115px;
  margin-top: -70px;
  margin-left: 75%;
  font-size: 0.8rem;
  font-family: "Lato";
  font-style: normal;
  width: 90px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  font-weight: bold;
  border-radius: 50px;
}

.burnStatus {
  border-radius: 5px;
  justify-content: center;
  align-self: center;
  font-size: 0.7rem;
}

.card {
  background-color: #808080;
}

.side-nav-container {
  position: fixed;
  width: 304px;
  height: 100vh;
  margin-top: 45%;
  padding-bottom: 200px;
}

.side-nav-list {
  height: auto;
  padding: 0;
  width: auto;
  padding-bottom: 200px;
  margin-top: -41%;
}

.side-nav-list .row {
  width: 100%;
  height: auto;
  background-color: #2d8fa5;
  border: 1px solid black;
  display: flex;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  font-family: "Roboto Condensed";
  list-style-type: none;
  padding-left: 10px;
}

.side-nav-list .row:hover {
  width: 100%;
  height: 50px;
  background-color: #2d8fa586;
  border: 1px solid black;
  display: flex;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  font-family: "Roboto Condensed";
  list-style-type: none;
}

.side-nav-list .row.admit-item {
  background-color: #6dc18f;
}

.side-nav-list .row.admit-item:hover {
  background-color: #589b73e5;
}

.side-nav-list .row.discharge-item {
  background-color: #c45757;
}

.side-nav-list .row.discharge-item:hover {
  background-color: #8a5656;
}

.SideImageContainer {
  position: fixed;
  border: solid;
  height: 30%;
  width: 21%;
  margin-top: 11%;
  border-radius: 10px;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  display: flex;
}

.SideImageContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.pokemon-sprite {
  width: 110%;
  height: 110%;
  padding-right: 40px;
  padding-bottom: 60px;
}

.top-nav-container {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header-container {
    width: 100vw;
    display: flex;
  }

  .main-container {
    position: absolute;
    background-color: #808080;
    height: calc(100vh - 170px);
    width: 50vw;
    top: 15%;
    left: 50%;
    z-index: 1;
    overflow-y: auto;
    flex: 1;
    border: 1px solid;
  }
  .main-top-bar {
    background: linear-gradient(45deg, #cc7777, #eb2f2f);
    position: fixed;
    height: 44px;
    width: 50vw;
    border: 1px solid;
    z-index: 2;
    display: flex;
    left: 35.4%;
    justify-content: space-between;
  }

  .main-name {
    position: absolute;
    width: 30%;
    height: 25px;
    left: 55px;
    top: -10px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
  }

  .main-hp-text {
    position: absolute;
    width: 30%;
    height: 25px;
    left: 50%;
    top: -10px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
  }

  .main-status-text {
    position: absolute;
    width: 65px;
    height: 25px;
    left: 75%;
    top: -10px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
  }

  /* .small-text-main
  {
    position: absolute;
    width:30%;
    height: 25px;
    left: 50%;
    top: -10px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2px;
  } */

  .pokemon-container {
    width: 50vw;
    margin-top: -1px;
    background-color: #808080;
    flex: 1;
    height: 150vh;
    overflow-y: scroll;
  }

  .card-image {
    height: 115px;
    margin-top: 60px;
    margin-left: -4%;
    font-size: 0.78rem;
    font-family: "Lato";
    font-style: normal;
    width: 50px;
    z-index: 1;
    align-items: center;
    justify-content: center;
    padding-right: 55px;
  }

  .card-name {
    height: 115px;
    margin-top: -115px;
    margin-left: 10%;
    font-size: 0.78rem;
    font-family: "Lato";
    font-style: normal;
    width: 120px;
    z-index: 1;
  }

  .card-hp {
    margin-top: -119px;
    margin-left: 50%;
    font-family: "Lato";
    font-style: normal;
    width: 90px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .card-status {
    height: 115px;
    margin-top: -70px;
    margin-left: 75%;
    font-size: 0.8rem;
    font-family: "Lato";
    font-style: normal;
    width: 90px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-weight: bold;
    border-radius: 50px;
  }

  .burnStatus {
    border-radius: 5px;
    justify-content: center;
    align-self: center;
    font-size: 0.7rem;
  }

  .card {
    background-color: #808080;
  }

  .side-nav-container {
    position: fixed;
    width: 304px;
    height: 100vh;
    margin-top: 45%;
  }

  .side-nav-list {
    height: auto;
    padding: 0;
    width: 100%;
  }

  .side-nav-list .row {
    width: 100%;
    height: 50px;
    background-color: #2d8fa5;
    border: 1px solid black;
    display: flex;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    font-family: "Roboto Condensed";
    list-style-type: none;
    padding-left: 10px;
  }

  .side-nav-list .row:hover {
    width: 100%;
    height: 50px;
    background-color: #2d8fa586;
    border: 1px solid black;
    display: flex;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    font-family: "Roboto Condensed";
    list-style-type: none;
  }

  .side-nav-list .row.admit-item {
    background-color: #6dc18f;
  }

  .side-nav-list .row.admit-item:hover {
    background-color: #589b73e5;
  }

  .side-nav-list .row.discharge-item {
    background-color: #b8b8b8;
  }

  .side-nav-list .row.discharge-item:hover {
    background-color: #797979;
  }

  /* .SideImageContainer{
  position: fixed;
  border: solid;
  height: 346px;
  width: 304px;
  background-color: aqua;
  margin-top: 11.5%;
  border-radius: 10px;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
} */

  /* .pokemon-sprite{
  width: 400px;
  height: 400px;
  padding-right: 90px;
  padding-bottom: 60px;
} */
}

@media screen and (max-width: 810px) {
  .side-nav-container {
    display: none;
  }

  .header-container {
    width: 100vw;
    display: flex;
  }

  .top-nav-container {
    display: block;
    position: fixed;
    width: 100vw;
    height: 50px;
    margin-top: 117px;
    border-radius: 10px;
    justify-content: space-between;
  }

  .top-nav-list {
    height: auto;
    padding: 0;
    width: 100%;
    display: flex;
    margin-top: -8px;
    margin-left: -8px;
    justify-content: left;
    align-items: right;
  }

  .top-nav-list .row {
    width: 90%;
    height: 50px;
    background-color: #2d8fa5;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #3cc2e0, #257688);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    font-family: "Roboto Condensed";
    list-style-type: none;
    padding: 10px;
    justify-content: center;
  }

  .top-nav-list .row:hover {
    background: linear-gradient(45deg, #25778a, #37adc7);
  }

  .top-nav-list .row.admit-item {
    background: linear-gradient(45deg, #89fab6, #0f552c);
  }

  .top-nav-list .row.admit-item:hover {
    background: linear-gradient(45deg, #0f552c, #89fab6);
  }

  .top-nav-list .row.discharge-item {
    background: linear-gradient(45deg, #eb5454, #792222);
  }

  .top-nav-list .row.discharge-item:hover {
    background: linear-gradient(45deg, #792222, #eb5454);
  }

  .top-nav-list .row.history-item {
    background: linear-gradient(45deg, #bbbbbb, #363636);
  }

  .top-nav-list .row.history-item:hover {
    background: linear-gradient(45deg, #363636, #bbbbbb);
  }

  
  .top-nav-list .row.document-item {
    background: linear-gradient(45deg, #bbbbbb, #363636);
  }

  .top-nav-list .row.document-item:hover {
    background: linear-gradient(45deg, #363636, #bbbbbb);
  }

  .SideImageContainer {
    display: none;
  }

  .main-container {
    position: fixed;
    background-color: #808080;
    height: 100vh;
    width: 100vw;
    min-width: 430px;
    max-height: calc(100vh - 170px);
    top: 170px;
    left: 0%;
    z-index: 1;
    overflow: auto;
  }
  .main-top-bar {
    background: linear-gradient(45deg, #cc7777, #eb2f2f);
    position: fixed;
    height: 44px;
    width: 100vw;
    border: 1px solid;
    z-index: 2;
    display: flex;
    left: 0px;
    justify-content: space-between;
    top: 15.7%;
  }

  .main-name {
    position: absolute;
    width: 30%;
    height: 25px;
    left: 55px;
    top: -10px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
  }

  .main-hp-text {
    position: absolute;
    width: 30%;
    height: 25px;
    left: 50%;
    top: -10px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
  }

  .main-status-text {
    position: absolute;
    width: 65px;
    height: 25px;
    left: 75%;
    top: -10px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
  }

  .small-text-main {
    position: absolute;
    width: 281px;
    height: 74px;
    left: 70px;
    top: 43px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 2px;
  }

  .pokemon-container {
    position: absolute;
    width: 100%;
    margin-top: -1px;
    background-color: #808080;
    flex: 1;
    height: 100%;
    overflow-y: auto;
  }

  .card-image {
    height: 115px;
    margin-top: 60px;
    margin-left: -3%;
    font-size: 0.78rem;
    font-family: "Lato";
    font-style: normal;
    width: 50px;
    z-index: 1;
    align-items: center;
    justify-content: center;
    padding-right: 55px;
  }

  .card-name {
    position: absolute;
    height: 115px;
    margin-top: -115px;
    margin-left: 10%;
    font-size: 0.78rem;
    font-family: "Lato";
    font-style: normal;
    width: 120px;
    z-index: 1;
  }

  .card-hp {
    margin-top: -119px;
    margin-left: 50%;
    font-family: "Lato";
    font-style: normal;
    width: 90px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .card-status {
    height: 115px;
    margin-top: -70px;
    margin-left: 75%;
    font-size: 0.8rem;
    font-family: "Lato";
    font-style: normal;
    width: 90px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-weight: bold;
    border-radius: 50px;
  }

  .burnStatus {
    border-radius: 5px;
    justify-content: center;
    align-self: center;
    font-size: 0.7rem;
  }

  .card {
    background-color: #808080;
  }
}

@media screen and (max-width: 480px) {
  .side-nav-container {
    display: none;
  }

  .header-container {
    width: 100vw;
    display: flex;
  }

  .top-nav-container {
    display: block;
    position: fixed;
    width: 100vw;
    height: 50px;
    top: 1%;
    border-radius: 10px;
    justify-content: space-between;
  }

  .top-nav-list {
    height: 100%;
    padding: 0;
    width: 100%;
    display: flex;
    margin-top: -8px;
    margin-left: -8px;
    justify-content: left;
    align-items: right;
  }

  .top-nav-list .row {
    width: 90%;
    height: 100%;
    background-color: #2d8fa5;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #3cc2e0, #257688);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    font-family: "Roboto Condensed";
    list-style-type: none;
    padding: 10px;
    justify-content: center;
  }

  .top-nav-list .row:hover {
    background: linear-gradient(45deg, #25778a, #37adc7);
  }

  .top-nav-list .row.admit-item {
    background: linear-gradient(45deg, #89fab6, #0f552c);
  }

  .top-nav-list .row.admit-item:hover {
    background: linear-gradient(45deg, #0f552c, #89fab6);
  }

  .top-nav-list .row.discharge-item {
    background: linear-gradient(45deg, #eb5454, #792222);
  }

  .top-nav-list .row.discharge-item:hover {
    background: linear-gradient(45deg, #792222, #eb5454);
  }

  .top-nav-list .row.history-item {
    background: linear-gradient(45deg, #bbbbbb, #363636);
  }

  .top-nav-list .row.history-item:hover {
    background: linear-gradient(45deg, #363636, #bbbbbb);
  }

  
  .top-nav-list .row.document-item {
    background: linear-gradient(45deg, #bbbbbb, #363636);
  }

  .top-nav-list .row.document-item:hover {
    background: linear-gradient(45deg, #363636, #bbbbbb);
  }

  .SideImageContainer {
    display: none;
  }

  .main-container {
    background-color: #808080;
    height: 100vh;
    width: 100vw;
    min-width: 430px;
    max-height: calc(100vh - 170px);
    top: 23%;
    left: 0%;
    z-index: 1;
    overflow: auto;
  }
  .main-top-bar {
    background: linear-gradient(45deg, #cc7777, #eb2f2f);
    height: 7%;
    width: 100vw;
    border: 2px solid;
    z-index: 2;
    display: flex;
    left: 0px;
    top: 20%;
  }

  .main-name {
    position: absolute;
    width: 65px;
    height: 25px;
    left: 55px;
    top: -10px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 28px;
  }

  .main-hp-text {
    position: absolute;
    width: 65px;
    height: 25px;
    left: 195px;
    top: -10px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 28px;
  }

  .main-status-text {
    position: absolute;
    width: 65px;
    height: 25px;
    left: 315px;
    top: -10px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 28px;
  }

  .small-text-main {
    position: absolute;
    width: 281px;
    height: 74px;
    left: 70px;
    top: 43px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 0.8rem;
    line-height: 2px;
  }

  .small-text-right {
    position: absolute;
    width: 281px;
    height: 74px;
    left: 55%;
    top: 43px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2px;
  }

  .pokemon-container {
    position: absolute;
    width: 100%;
    margin-top: -5%;
    background-color: #808080;
    flex: 1;
    height: 100%;
    overflow-y: auto;
  }

  .card-image {
    height: 115px;
    margin-top: 70px;
    margin-left: -10px;
    font-size: 0.78rem;
    font-family: "Lato";
    font-style: normal;
    width: 50px;
    z-index: 1;
    align-items: center;
    justify-content: center;
    padding-right: 55px;
  }

  .card-name {
    height: 115px;
    margin-top: -115px;
    margin-left: 50px;
    font-size: 0.78rem;
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    width: 120px;
    z-index: 1;
  }

  .card-hp {
    margin-top: -119px;
    margin-left: 177px;
    font-family: "Lato";
    font-style: normal;
    width: 90px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .card-status {
    height: 115px;
    margin-top: -70px;
    margin-left: 295px;
    font-size: 0.8rem;
    font-family: "Lato";
    font-style: normal;
    width: 90px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-weight: bold;
    border-radius: 50px;
  }

  .burnStatus {
    border-radius: 5px;
    justify-content: center;
    align-self: center;
    font-size: 0.7rem;
  }

  .card {
    background-color: #808080;
  }

  .card.selected{
    background-color: #acabab;
  }

  .dlt-container {
    background-color: black;
  }

  .poke-img {
    height: 60px;
    margin-top: 20px;
  }

  .MuiDialogContent-root {
    height: 60vh;
    width: 100vw;
    justify-content: left;
    display: flex;
  }


  .admit-container {
    height: 85%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }

  .admit-label{
    flex-direction: column;
    display: flex;
  }

  #admit-lvl{
    width: 50%;
  }
}
